<div class="container">
	<form [formGroup]="authorForm" (ngSubmit)="handleSubmit()">
		<div class="row">
			<div class="input-field col s12 m12">
				<input 
					type="text" 
					name="name" 
					formControlName="nameField"
					/>
				<label for="name">Author Name</label>
			</div>
			<div class="error" *ngIf="nameField.invalid && 
				(nameField.touched || nameField.dirty)">
				<div *ngIf="nameField.errors.required">
					<p>Author name can not be left blank</p>
				</div>
				<div *ngIf="nameField.errors.minlength">
					<p>Author name must be more than 4 characters</p>
				</div>
			</div>

			<button type="submit" class="btn cyan">Save Author</button>
		</div>
	</form>

	<div *ngIf="message">
		<p>{{ message }}</p>
	</div>
</div>