<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <title>Maktaba - Home page</title>
</head>
<body>
<div th:insert="fragments/header :: header">Header Fragment</div>

<app-root></app-root>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/runtime.js"></script><script type="text/javascript" src="/js/es2015-polyfills.js" nomodule></script><script type="text/javascript" src="/js/polyfills.js"></script><script type="text/javascript" src="/js/styles.js"></script><script type="text/javascript" src="/js/scripts.js"></script><script type="text/javascript" src="/js/vendor.js"></script><script type="text/javascript" src="/js/main.js"></script>
</body>
</html>