<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/form-style.css" />
    <title>Login Page</title>
</head>
<body>
<div th:insert="fragments/header :: header">Header Fragment</div>

<div class="container row">
	<form th:action="@{/login}" method="post">
		<div class="row">
			<div class="input-field col m12 s12">
				<input 
					type="text" 
					name="username" 
					placeholder="Username"
					class="validate"
					id="username"
					/>
				<label for="username">Username</label>
			</div>

			<div class="input-field col m12 s12">
				<input 
					type="password" 
					name="password" 
					placeholder="Password" 
					id="password" 
					class="validate"/>
				<label for="password">Password</label>
			</div>
			<button type="submit" class="btn cyan">Login</button>
		</div>
	</form>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>