<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, device-width=1" />
    <meta charset="utf-8" />
    <title>Header Page</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>
<body>

<div th:fragment="header">
	<nav class="cyan " style="margin-bottom:10px;">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Maktaba</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a th:href="@{/books}">Books</a>
				</li>
				<li>
					<a th:href="@{/authors}">Authors</a>
				</li>
				<li>
					<a th:href="@{/users}">Users</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
</body>
</html>