<div class="container">
	<div class="row">
		<div class="col s12 m4">
			<favorite-list-component (listSelected)="onListSelected($event)">

			</favorite-list-component>
		</div>

		<div class="col s12 m8">
			<ng-template 
				[ngIf]="!bookSelected" 
				[ngIfElse]="bookSelectedBlock" >

				<list-component 
					(bookSelected)="onBookSelected($event)"
					[books]="books">
				</list-component>

			</ng-template>
				
			<ng-template #bookSelectedBlock>
				<book-page-component 
					
					[book]="selectedBook">

				</book-page-component>
				
			</ng-template>
		</div>
	</div>
</div>