<div class="container">
	<form [formGroup]="bookForm" (ngSubmit)="handleSubmit()">
		<div class="row">
			<div class="input-field col m12 s12">
				<input 
					type="text" 
					name="title" 
					formControlName="titleField"
					/>
				<label for="title">Title</label>
				<div 
				*ngIf="titleField.invalid && (titleField.dirty || titleField.touched)">
					<div *ngIf="titleField.errors.required" class="error">
						<p>Title is required</p>
					</div>
				</div>
			</div>

			<div class="input-field col m12 s12">
				<input 
					type="text" 
					name="description" 
					formControlName="descriptionField"
					/>
				<label for="description">Description</label>

				<div class="error" *ngIf="descriptionField.invalid && 
					(descriptionField.dirty || descriptionField.touched)" >
					<div *ngIf="descriptionField.errors.required">
						<p>Description is required</p>
					</div>
				</div>

			</div>
			<div class="input-field col m12 s12" >
				<select 
					id="authorField" 
					name="author" 
					formControlName="authorField"
					class="browser-default"
					>
					<option [ngValue]="null" disabled>Select the Author</option>
					<option 
						*ngFor="let author of authors"
						[value]="author.id" >{{author.name}}</option>
				</select>

				<div class="error" *ngIf="authorField.invalid && 
					(authorField.touched || authorField.dirty)">
					<div *ngIf="authorField.errors.required">
						<p>Author must be selected</p>
					</div>	
				</div>

			</div>

			<button type="submit" class="btn cyan">Save Book</button>
		</div>
	</form>
</div>