<div class="container">
	<form [formGroup]="bookForm" (ngSubmit)="handleSubmit()">
		<div class="row">
			<div class="input-field col m12 s12">
				<input 
					type="text" 
					name="title" 
					formControlName="title"
					/>
				<label for="title">Title</label>
			</div>

			<div class="input-field col m12 s12">
				<input 
					type="text" 
					name="description" 
					formControlName="description"
					/>
				<label for="description">Description</label>
			</div>
			<button type="submit" class="btn cyan">Save Book</button>
		</div>
	</form>
</div>